:root {
  --color-bg:#2B3A55;
  --color-first:#00ABB3;
  --color-second:#EAEAEA;
  --color-third: #CE7777;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-bg); 
  font-family: Arial, Helvetica, sans-serif;
}
#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.navbar--ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.202);
  list-style: none;
  width: 100%;
}

.navbar--link a {
  text-decoration: none;
  font-size: 25px;
  color: var(--color-second);
  background: #000;
  padding: 1rem;
}

.Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
}

.container-welcome-text {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.container-welcome-text h1 {
  color: var(--color-title);
  position: relative;
  top: -100px;
  font-size: 50px;
  font-weight: 400;
  color: var(--color-second);
}

.important {
  color: var(--color-first);
  font-weight: 500;
}

.writing {
  color:var(--color-third);
  font-weight: 700;
  font-size: 55px;
}

.description-skills {
  display: flex;
  gap: 1rem;

}

.description-skills img{ 
  width: 80px;
}

.logo {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 600px;
  animation: up 6s ease-out infinite;
}

@keyframes up {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.button {
  padding: 1.5rem 3rem;
  border-radius: 10px;
  background-color: var(--color-first);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border: transparent;
}

.icon {
  width: 120px;  
}

.download-cv{
  position: fixed;
  bottom: 10px;
  right: 30px;
}

